.image-container
{
  background-image: url('./Components/Images/Property-Insurance.jpg');
  background-size: cover; 
  background-position: center;
  opacity: 0.9;
  
}
.RenderComponets{
 text-align: center;
}
/* .footer
	{
  	position:absolute;
  	bottom: 0;
  	width: 100%;
  	height: 30px;
  	background-color: black;
  	text-align: center;
  	color: white;
  	line-height: 20px;
	} */
/* .bottom-img
{
  background-image: url('./Components/Images/Insurance-PNG-Images.png');
  background-size: cover; 
  background-position: center; 
  opacity: 0.9;
  white-space: nowrap; 
} */
.mbs
{
  margin-bottom:260px;
}
.bb
{
  box-shadow: 0 0 10px blue; 
}
.size
{
  width: 30px;
  height: 30px;
}
.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-2
{
  background-color: #3498db;;
}
.securitylen
{
  margin-left: 300px;
}
/* .mbs-2
{
  margin-bottom: 500;
} */
.primum-box
{
  width: 200px;
}
.popup {
  position: fixed;
   top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.primium-bg
{
  background-color: lightgrey;
  /* margin-left: 330px; */
  box-shadow: 0 0 10px; 

}
.popup-back
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

}
.popup-signup
{
  position: fixed;
  background-color:white;
  /* transform: translate(0%, 0%); */
}
.custom-cursor {
  cursor: pointer;
}
.popup-container {
  backdrop-filter: blur(5px);
}
.largeTextField {
  height: 40px;
  width: 300px;
}

.myText {
  font-family: Arial, sans-serif;
  font-size: 16px;
}
/* .fullField
{
  margin-left: 250px;
}
.fullField2{
  margin-left: 50px; ;
}
.fullField3{
  margin-left: 330px; ; */

/* @media only screen and (max-width: 768px) {
  input[type="text"] {
    width: 50%; 
  }
  .container{
  max-width: 50%;
  max-height: 50%;
  }
} */
.justify
{
  text-align: justify;
}
.icon
{
  margin-left: -25px;
}
.icon :hover
{
  cursor:pointer
}
.dropDownlen
{
  width: 225px;
}

@media only screen and (max-width:767px) 
{
  .securitylen
  {
    margin-left: 45px;
  }
  .dropDownlen
  {
    width: 170px;
  }
 
} 




